{% extends 'layouts/base.html' %}

{% block title %}
PRODUCT Create
{% endblock %}

{% block body_content %}
<div class="container">
    <h1>Product Create</h1>
    <h5><a href="{% url 'product.index'%}">View List</a></h5>

    {% if msg %}
    <div class="alert alert-primary" role="alert">
        {{ msg }}
    </div>

    {% endif %}

    <form action='#' method='POST'>
        {% csrf_token %}
        {{ form.as_p}}
        <input type='submit' value='ADD NEW' class='btn btn-primary'>
    </form>
</div>

{% endblock %}